<!DOCTYPE html>
<html>
  <head>
  	<title>First Node App</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
  </head>
  <body>
    <% include partials/nav.ejs %>
  	<h1>Contacts</h1>
  	<p>Find Contacts here..!!!</p>
  </body>
</html>
